.container{
   padding: 110px;
   margin-top: -10px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text{
    position: relative;
    width: 48%;

}
.text h1{
    font-size: 3rem;
    font-weight: bold;
}
.imgbox{
    position: relative;
    width: 100%;
    margin-left: -670px;
}
.text button{
    padding: 15px 60px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}