.logo{
    padding: 50px;
}
.textl{
    margin-left: 110px;
    font-weight: bold;
}

.logo ul{
    display: flex;
    list-style: none;
   

}
@media (max-width: 768px) {
 .whole{
    width: 220%;
}
.textl{
    font-weight: bold;
    font-size: 1.9rem;
    margin-left: 50px;
}
}
/*
.logo ul li{
    padding: 20px;
}
.textl{
    margin-left: 110px;
    font-weight: bold;
} */