.container{
    padding: 100px;
    margin-top: -10px;
    background-color: red;
  
 }
 .row{
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .text{
     position: relative;
     width: 48%;
     color: white;
 
 }
 .text h1{
     font-size: 3rem;
     font-weight: bold;
     color: white;
 }
 .imgbox{
     position: relative;
     width: 100%;
    margin-left: -600px;

 }
 .text button{
     padding: 15px 60px;
     background-color: white;
     color: red;
     border-radius: 5px;
     border: none;
 }