/* .container{
    padding: 110px;
    margin-top: -10px;
 }
 .row{
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
 .text{
     position: relative;
     width: 48%;
 
 }
 .text h1{
     font-size: 3rem;
     font-weight: bold;
 }
 .imgbox{
     position: relative;
     width: 100%;
     margin-left: -670px;
 }
 .imgbox img{
     width: 100%;
 }
 .text button{
     padding: 15px 60px;
     background-color: red;
     color: white;
     border-radius: 5px;
     border: none;
 }
 .hr{
     width: 50%;
     color:  blue;

 } */
.container{
        padding: 100px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
.text{
    position: relative;
    width: 50%;
}
.img{
    flex: 50%;
}
@media (max-width: 768px){
    .container{
        width: 220%;
        padding: 50px;
        flex-direction: column;
    }
    .text{
        max-width: 100%;
        font-size: 2rem;
        width: 100%;
    }
    .imgbox img{
        display: none;
    }
}
   
